body {
    background-image: url(../images/backgrounds/dust_scratches.png);
    background-color: black;
}

.home-page {
    background-image: url(../images/backgrounds/chicago.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.nav-link {
    color: white; 
    border: solid white 1px;
    margin: 10px; 
}

.nav {
    /* background-image: url(../images/images.png) */
}

.active {
    color:black;
}

.nav-link:hover {
    color: red
}

li {
    margin-bottom: 5px;
}